/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Chunk';
    src: url('../fonts/chunk-five/chunkfive-webfont.eot');
    src: url('../fonts/chunk-five/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunk-five/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/chunk-five/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunk-five/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunk-five/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ostrich';
    src: url('../fonts/ostrich/ostrichsans-light-webfont.eot');
    src: url('../fonts/ostrich/ostrichsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ostrich/ostrichsans-light-webfont.woff2') format('woff2'),
         url('../fonts/ostrich/ostrichsans-light-webfont.woff') format('woff'),
         url('../fonts/ostrich/ostrichsans-light-webfont.ttf') format('truetype'),
         url('../fonts/ostrich/ostrichsans-light-webfont.svg#ostrich_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster/lobster_1.3-webfont.eot');
    src: url('../fonts/lobster/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster/lobster_1.3-webfont.woff2') format('woff2'),
         url('../fonts/lobster/lobster_1.3-webfont.woff') format('woff'),
         url('../fonts/lobster/lobster_1.3-webfont.ttf') format('truetype'),
         url('../fonts/lobster/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-bold-webfont.eot');
    src: url('../fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-bold-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-bolditalic-webfont.eot');
    src: url('../fonts/opensans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-bolditalic-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-light-webfont.eot');
    src: url('../fonts/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-light-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-lightitalic-webfont.eot');
    src: url('../fonts/opensans/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-lightitalic-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: italic;
}
