// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@mixin center-text {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin tablet {
   @media (min-width: 600px) {
      @content;
   }
}
@mixin desktop {
   @media (min-width: 1000px) {
      @content;
   }
}


//Keyframe Animations

@keyframes mobile-blog-slide-appear {
	0% {
		left:-1500px;
		opacity: 0;
	}
	70% {
		left:1rem;
	}
	75% {
		left: 1.1rem;
	}
	80% {
		left: .9rem;
	}
	85% {
		left: 1.1rem;
	}
	90% {
		left: .9rem;
	}
	95% {
		left: 1.1rem;
	}
	100% {
		left: 1rem;
		opacity: 1;
	}
}
@keyframes desktop-blog-slide-appear {
	0% {
		left:-1500px;
		opacity: 0;
	}
	70% {
		left:25%;
	}
	75% {
		left: 25.5%;
	}
	80% {
		left: 24.5%;
	}
	85% {
		left: 25.5%;
	}
	90% {
		left: 24.5%;
	}
	95% {
		left: 25.5%;
	}
	100% {
		left: 25%;
		opacity: 1;
	}
}
