// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@mixin center-text {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin tablet {
   @media (min-width: 600px) {
      @content;
   }
}
@mixin desktop {
   @media (min-width: 1000px) {
      @content;
   }
}


//Keyframe Animations
@keyframes header-shrink {
	0% {
		height:10vh;
	}
	100% {
		height: 6vh;
	}
}
@keyframes header-grow {
	0% {
		height: 6vh;
	}
	100% {
		height:10vh;
	}
}

@keyframes slide-appear-left {
	0% {
		position: absolute;
		opacity: 0;
		left:-100px;
	}
	100% {
		position: relative;
		opacity: 1;
		left: 0px;
	}
}
@keyframes slide-appear-right {
	0% {
		position: absolute;
		opacity: 0;
		right:-100px;
	}
	100% {
		position: relative;
		opacity: 1;
		right:0;
	}
}
@keyframes down-arrow {
	0% {
		bottom:40px;
	}
	100% {
		bottom: 20px;
		font-size: 1rem;
		width: 1.45rem;
		text-align: center;
	}
}
