/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
// Header
.header {
   width: 100vw;
   height:10vh;
   background-color: $color_gray;
   color:$color_off_white;
   display: flex;
   align-items: center;
   font-size: 1.5rem;
   letter-spacing: 5px;
   font-family: 'Ostrich';
}

.menu-cont {
   display: flex;
   justify-content: space-between;
}
.name-branding {
   font-family: 'Lobster';
}
.main-nav {

   span {
      padding: 1rem;
      &:last-child {
         padding-right: 0;
      }
   }
}

/* Front page */
.page-background {
   background-color: $color_off_white;
}
.hero-banner {
   position: relative;
   @include desktop {
      height:90vh;
      background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%), url('../assets/fixed-images/new-york-skyline.jpg') no-repeat center;
      background-size: cover;
      @include center-text;
   };
}
.banner-middle-text {
   color: #fff;
   text-align: center;
   span {
      font-family: 'Ostrich', serif;
      letter-spacing: 10px;
      @include desktop {
         font-size: 4rem;
      };
   }
   p {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      @include desktop {
         font-size: 1.5rem;
      };
   }
}
.down-arrow {
   position:absolute;
   left:49%;
   bottom: 40px;
   font-size: 3rem;
   color:#fff;
   animation: down-arrow 0.5s infinite alternate;
}
.About {
   height:80vh;
   background-color: $color_off_white;
}
.about-section {
   h2 {
      text-align: center;
   }
}
.about-img {
   float: left;
   width: 33%;
   padding-right: 1rem;
}
.Portfolio {
   height:80vh;
   background-color: $color_gray;
}

//Blog
.Blog {
   height:80vh;
   background-color: $color_off_white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}
.double-column {
   width: 768px;
   height:90%;
   margin: 0 auto;
   overflow: scroll;
}
.single-column {
   text-align: center;
}
.blog-image {
   width: 25%;
}
.blog-content {
   padding: 1rem;
   text-align: left;
}
.next-class {
   color: $color_blue;
   font-family: "Ostrich", sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
   position: absolute;
   bottom:20px;
}
.animate-blog {
   animation: mobile-blog-slide-appear 2s;
   left: 1rem;
   opacity: 1;
   @include desktop {
      animation: desktop-blog-slide-appear 2s;
      left:25%;
   };
}
.hide-blog {
   animation: mobile-blog-slide-hide 1s;
   left: -1500px;
   opacity: 0;
}


.Contact {
   height:80vh;
   background-color: $color_gray;
}

footer {
   width: 100vw;
   height:15vh;
   background-color: #1a1a1a;
   color:$color_off_white;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.social .fa {
   padding:1rem;
}

//Header


//Footer
.site-footer {
   border-top:2px solid $color_black;
   position: fixed;
   bottom: 0;
   background: linear-gradient( to top, $color_gray 0%, $color_black 100%);
   color: $color_off_white;
   width: 100vw;
   height:15vh;
}
