/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.page-background {
   background-color: $color_off_white;
   height: 80vh;
   position: relative;
   background: url('http://camerondfuller.dev/wp-content/uploads/2016/04/Skyline.jpg');
   background-size: cover;
}
.menu-wrapper {
   width: 1024px;
}
.button {
   width: 150px;
   text-align: center;
   border-radius: 5px;
   border: 1px solid $color_gray;
   padding: 1rem;
   margin-top:1rem;
   background-color: $color_yellow;
   color:$color_black;

   &:hover {
      filter:brightness(0.8);
   }
}
.blog-wrapper {
   border: 1px solid $color_gray;
   border-radius: 5px;
   background-color: $color__background-body;
   width:50%;
   max-height: 75%;
   padding:2rem;
   margin-top: 3rem;
   position: absolute;
   left:25%;
   opacity: 0;
   overflow: scroll;
   text-overflow: ellipsis;
}
.blog-content {
   position: relative;
}
.animate-blog {
   animation: blog-slide-appear 2s;
   left: 25%;
   opacity: 1;
}


//Header
.site-description{
   margin:0;
   padding: 1.5rem;
}
.site-header {
   background-color: transparent;
   color:$color_gray;
}
