/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.page-background {
   background-color: $color_off_white;
   height: 80vh;
   position: relative;
}

.button {
   width: 150px;
   text-align: center;
   border-radius: 5px;
   border: 1px solid $color_gray;
   padding: 1rem;
   background-color: $color_yellow;
   color:$color_black;

   &:hover {
      filter:brightness(0.8);
   }
}
.blog-wrapper {
   border: 1px solid $color_gray;
   background-color: $color__background-body;
   width:50%;
   padding:2rem;
   margin-top: 3rem;
   position: absolute;
   left:25%;
   opacity: 0;
}
.animate-blog {
   animation: blog-slide-appear 2s;
   left: 25%;
   opacity: 1;
}
