/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
// Header
.header {
   width: 100vw;
   color:$color_off_white;
   display: flex;
   align-items: center;
   font-size: 2rem;
   letter-spacing: 5px;
   font-family: 'Ostrich', sans-serif;
   position: fixed;
   z-index: 50;
   background-color: $color_gray;
   animation: header-shrink 0.3s;
   height:3vh;
   @include desktop {
      height:6vh;
   };
}
.header-transition {
   height:10vh;
   background-color: transparent;
   animation: header-grow 0.3s;
}
.logo {
   height:1.4rem;
}
.title {
   color:$color_off_white;
}
.menu-cont {
   display: flex;
   justify-content: space-between;
}
.name-branding {
   font-family: 'Ostrich', sans-serif;
}
.main-nav {

   span {
      padding: 1rem;
      &:last-child {
         padding-right: 0;
      }
   }
}
.left-side-name {
   position: absolute;
   font-family: 'Ostrich', sans-serif;
   font-size: 8rem;
   letter-spacing: 20px;
   transform: rotate(-90deg);
   left:-175px;
   bottom: 200px;
}

/* Front page */
.animate-box-1,
.animate-box-2,
.animate-box-3,
.animate-box-4,
.animate-box-5 {
   opacity: 0;
}
.page-background {
   background-color: $color_off_white;
}
.hero-banner {
   position: relative;
   height:100vh;
   background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%), url('../assets/fixed-images/new-york-skyline.jpg') no-repeat center;
   background-size: cover;
   @include center-text;
   @include desktop {
   };
}
.banner-middle-text {
   color: #fff;
   text-align: center;
   span {
      font-family: 'Ostrich', sans-serif;
      letter-spacing: 10px;
      font-size: 4rem;
   }
   p {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-size: 1.5rem;
   }
}
.down-arrow {
   position:absolute;
   left:49%;
   bottom: 40px;
   font-size: 3rem;
   color:#fff;
   animation: down-arrow 0.5s infinite alternate;
}
.About {
   height:80vh;
   background-color: $color_off_white;
   position: relative;
   opacity: 1;
}
.about-title {
   h2 {
      font-size: 4rem;
   }
}
.about-cont {
   display: flex;
   justify-content: space-between;
   min-height: 80%;
   p {
      margin-top: 0;
      font-size: 2rem;
      @include desktop {
         font-size: 1rem;
      };
   }
}
.about-content {
   @include desktop {
      width: 67%;
   };
}
.about-border-name {
   left: -75px;
   bottom: 100px;
}
.about-img {
   display: none;
   @include desktop {
      display: block;
      width: 327px;
      height: 450px;
      padding-right: 1rem;
   }
}

//Portfolio
.Portfolio {
   background-color: $color_gray;
   position: relative;
   color:$color_off_white;
   display: flex;
   align-items: center;
   justify-content: center;
   @include desktop {
      height: 150vh;
   };
   @include desktop-large {
      height: 90vh;
   };
}
.portfolio-inner {
   height: 95%;
   display: flex;
   flex-wrap: wrap;
}
.port-cont-single {
   text-align: center;
   @include tablet {
      width: 50%;
   };
   @include desktop-large {
      width: 33%;
   };
}
.port-title {
   text-align: center;
}
.port-text {

}
.port-img {
   filter:brightness(0.8);
   border-radius: 5px;
   &:hover {
      filter: brightness(1);
   }
}

//Blog
.Blog {
   height:95vh;
   background-color: $color_off_white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}
.double-column {
   width: 768px;
   height:95%;
   margin: 0 auto;
   overflow: scroll;
}
.single-column {
   text-align: center;
}
.blog-image {
   max-height: 300px;
}
.blog-content {
   padding: 1rem;
   text-align: left;
}
.next-class {
   color: $color_blue;
   font-family: "Ostrich", sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
   position: absolute;
   left:300px;
   bottom:20px;
}
.prev-class {
   color: $color_blue;
   font-family: "Ostrich", sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
   position: absolute;
   bottom:20px;
   right:300px;
}
.animate-blog {
   animation: mobile-blog-slide-appear 2s;
   left: 1rem;
   opacity: 1;
   @include desktop {
      animation: desktop-blog-slide-appear 2s;
      left:25%;
   };
}
.hide-blog {
   animation: mobile-blog-slide-hide 1s;
   left: -1500px;
   opacity: 0;
}
blockquote{
   &::before {
      content: "\"";
      font-size: 30px;
      float: left;
   }
   &::after {
      content: "\"";
      font-size: 30px;
      float: right;
   }
}

.Film {
   position: relative;
   height:95vh;
   background-color: $color_gray;
   color: $color_off_white;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.film-border-name {
   left:-25px;
   bottom: 50px;
}
.Contact {
   height:95vh;
   background-color: $color_off_white;
   position: relative;
}
.contact-side-name {
   left:-140px;
   bottom: 165px;
}


//Footer
footer {
   width: 100vw;
   height:15vh;
   background-color: #1a1a1a;
   color:$color_off_white;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.copyright {
   display: flex;
   align-items: center;
}
.social .fa {
   padding:1rem;
}
.site-footer {
   border-top:2px solid $color_black;
   position: fixed;
   bottom: 0;
   background: linear-gradient( to top, $color_gray 0%, $color_black 100%);
   color: $color_off_white;
   width: 100vw;
   height:15vh;
}
section {
   padding: 4rem;
}
.slide-in-left {
   animation: slide-appear-left 1.5s ease;
   opacity: 1;
}
.slide-in-right {
   animation: slide-appear-right 1.5s ease;
   opacity: 1;
}
